<% if params[:controller] == 'about'%>
  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The BookStore</li>
      <li>499 Valencia st.</li>
      <li>San Francisco, CA. 94110</li>
      <li>Phone: 415.826.7902</li>
      <li>Email: support@thebookstore.com</li>
    </ul>
  </div>
<% end %>

<% if params[:controller] == 'books' && (params[:action] == 'index' || params[:action] == 'show')%>
  <div class="list-group">
    <%= link_to 'Ruby on Rails', '#', class: 'list-group-item' %>
    <%= link_to 'PHP', '#', class: 'list-group-item' %>
    <%= link_to 'HTML5', '#', class: 'list-group-item' %>
  </div>
<% end %>
